{% extends 'base.html.twig' %}

{% block title %}Reset mot de passe{% endblock %}

{% block body %}
    <nav class="navbar navbar-expand-lg navbar-light nav-custom">
        <div class="container-fluid">
            <a class="navbar-brand" href="{{ path('app_accueil') }}">
                <i class="fa-solid fa-martini-glass-citrus fa-shake"></i>Sortir.com</a>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                </ul>

            </div>
        </div>
    </nav>
    <div class="form-custom">
        <h1>Réinitialisation du mot de passe</h1>
        <p>Veuillez entrer votre nouveau mot de passe ci-dessous.</p>
        <form method="post">
            <label for="inputPassword">Password</label>
            <input type="password" class="form-control" name="password" id="inputPassword" placeholder="Mot de passe"
                   required>
            <input type="hidden" class="form-control" name="token" value="{{ token }}">
            <button class="btn btn-primary mt-3" type="submit" id="valider">
                Valider le mot de passe
            </button>
        </form>
    </div>
{% endblock %}