@import url('https://fonts.googleapis.com/css2?family=Anton&family=Pacifico&family=Palette+Mosaic&display=swap');

/************ALL PAGES******************/

body {
    background-color: #fbfaff;
    color: black;
}

h1 {
    margin-left: 3%;
    margin-top: 2%;
}
/*************************************/
/***************NAVBAR******************/

.navbar-brand {
    font-family: 'Anton', sans-serif;
}

.all-logo{
    width: auto;
}
#logo {
    width: 15%;
    height: 15%;
}
.burger{
    align-items: end;
}


.first {
    margin-top: 5%;
    display: flex;
}

#map {
    height: 500px;
    width: 1000px;
}


/**** PROFIL.html ****/

.titreProfil {
    display: flex;
    justify-content: center;
    margin-top: 10%;
}

.corps {

    display: flex;
    justify-content: center;
    margin-top: 3%;
}

.element {

    display: flex;
    border: solid 3px black;

    border-radius: 68px;
    background: #fbfaff;
    box-shadow: 41px 41px 82px #646466,
    -41px -41px 82px #ffffff;
}

.element ul {
    list-style-type: none;
    padding-top: 10%;
    margin-bottom: 10%;
}

.droite {
    padding-right: 20%;
}

.gauche {

}

.element li {

    margin-top: 30%;
}

.pseudo {
    display: flex;
    justify-content: center;
    margin-top: 3%;
}

.button-group-custom{
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn-custom-x{
    background-color: #0d6efd !important;
    border: none;
    width: 300px;
    color: white;
    margin: 20px 10px;
    border-radius: 5px;
    padding: 5px 5px;
}
/*************************************/