@import url('https://fonts.googleapis.com/css2?family=Anton&family=Pacifico&family=Palette+Mosaic&display=swap');

*{

}

body{
    background-color: floralwhite;
}

.navbar{
    display: block;
    justify-content: space-around;

}

.navbar-brand{
    font-family: 'Anton', sans-serif;


}

@media (max-width: 1000px) {
    .libelle{
        padding-left: 43%;
        margin-bottom: 3%;
        font-family: 'Anton', sans-serif;
        margin-top: -70px;
    }
}
@media (min-width: 1000px){
    .libelle{
        padding-left: 25%;
        margin-bottom: 3%;
        font-family: 'Anton', sans-serif;
        margin-top: -70px;
    }
}


.logo {
    display: inline-block;
}

.logo img {

    width: 15%;
    height: auto;
}

h1 {
    margin-left: 3%;
    margin-top: 2%;
}
.first{
    margin-top:5% ;
    display: flex;
}

#map {
    height: 500px;
    width: 1000px;
}


/**** PROFIL.html ****/

.profil{
    border-radius: 50px;
    background: #4d3489;
    box-shadow: inset 20px 20px 60px #412c74,
    inset -20px -20px 60px #593c9e;

}

.corps{
    display: flex;
    justify-content: center;

}

.element{

    display: flex;
    border: solid 3px black;

}
.element ul{
    list-style-type: none;
}
.pseudo{
    display: flex;
    justify-content: center;
    margin-top: 10%;
}