@import url('https://fonts.googleapis.com/css2?family=Anton&family=Pacifico&family=Palette+Mosaic&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");
/************ALL PAGES******************/

.btn-primary{
    background-color: #657ED4 !important;
    border: 1px solid #657ED4 !important;
    transition: transform .3s !important;
}
.btn-primary:hover{
    background-color: #FFFFFF !important;
    color: #657ED4 !important;
    border: 1px solid #5f86ff !important;
    transform: scale(1.02);
    box-shadow: rgba(149, 157, 165, 0.4) 0px 10px 24px;
}

*{
    font-family: "Montserrat", sans-serif;
}

body {

    background-color: #fbfaff;
    color: black;
}

h1 {
    margin-left: 3%;
    margin-top: 2%;
}

/*************************************/
/***************NAVBAR******************/

.header-nav{
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px !important;
}

.container-fluid{
    padding-top: 5px;
    justify-content: space-between;
}
.navbar-brand {
    width: 200px;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    gap: 1px;
}
div#navbarSupportedContent{
    padding-left: 35%;
}
.all-logo{
    width: auto;
}
#logo {
    width: 40%;
    height: 40%;
}
.burger{
    align-items: end;
}


.first {
    margin-top: 5%;
    display: flex;
}

#map {
    height: 500px;
    width: 1000px;
}

.nav-link{
    border-radius: 30px;
    color: black;
    font-weight: 500;
    text-transform: uppercase;
}

.nav-link{
    background-color: #FFFFFF !important;
    color: #657ED4 !important;
    border-radius: 5px !important;
    transition: 0.3s !important;
    margin: 2px 2px !important;
}

.nav-link:hover{
    background-color: rgba(101, 126, 212, 0.22) !important;
    border-radius: 10px !important;
    color: #657ED4 !important;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 10px 24px;
}

/*********************************************/
/************Filtre **************************/
.filtres{
    min-height: 5vh;
    padding: 20px 20px;
    display: flex;
    flex-wrap: wrap;
    border: 1px solid black;
}
{
    display: block;
    width: 150px;
    float: left;
}

.form-control-filtre{
    padding: 5px;
}

.select-filtre{
    width: 212px;
    height: 37px;
}

.champs-group{
    display: flex;
    gap: 20px;
}

.affichage{
    padding: 20px 20px;
}

/********************************************/
/**************FORMULAIRE******************/
.form-custom{
    margin-top: 25px;
    padding: 20px 20px;
}

.check-group{
    justify-content: space-around;
    display: flex;
    gap: 5px;
}
#registration_form_actif{
    margin-left: 3px;
}

.input-file-custom input{
    margin-left: 3px;
    border: none;
    background-color: #FFFFFF !important;
    color: #657ED4 !important;
}


/*********************************************/
/**** PROFIL.html ****/

.titreProfil {
    display: flex;
    justify-content: center;
    margin-top: 10%;
}

.corps {

    display: flex;
    justify-content: center;
    margin-top: 3%;
}

.element {

    display: flex;
    border: solid 3px black;

    border-radius: 68px;
    background: #fbfaff;
    box-shadow: 41px 41px 82px #646466,
    -41px -41px 82px #ffffff;
}

.element ul {
    list-style-type: none;
    padding-top: 10%;
    margin-bottom: 10%;
}

.droite {
    padding-right: 20%;
}

.element li {

    margin-top: 30%;
}

.pseudo {
    display: flex;
    justify-content: center;
    margin-top: 3%;
}

.button-group-custom{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
    gap: 30px;
}
.btn-custom-x{
    background-color: #0d6efd !important;
    border: none;
    width: 300px;
    color: white;
    margin: 20px 10px;
    border-radius: 5px;
    padding: 5px 5px;
}

.boutton{
    display: block;
    justify-content: center;
    width: 15%;
    height: 15%;

}
/*************************************/
/************PROFIL BOOTSTRAP*********************/


/***********************/
/*********************** FENETRE MODAL LIEU ***************/
/* Décrire l'animation */
@keyframes slideDownFadeIN {
    from {top:-100px;opacity: 0;}
    to {top:0px;opacity:1;}
}

/* Foncer l'arrière-plan de la fenêtre modale */
.modal {
    display: none;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

/* Afficher la fenêtre modale lorsqu'elle est ciblée par un lien supprimer */
.modal:target {
    display: table;
    position: absolute;
}

/* la fenêtre modale  */
.modal-dialog {
    display: table-cell;
    vertical-align: middle;
}

/* Le contenu de la modale */
.modal-dialog .modal-content {
    margin: auto;
    background-color: #f3f3f3;
    position: relative;
    padding: 0;
    outline: 0;
    border: 1px #777 solid;
    text-align: justify;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    animation-name: slideDownFadeIN;
    animation-duration: 0.5s;
}

/* Bouton servant à fermer la fenêtre modale */
.btn-lieu-custom a {
    text-decoration: none;
    margin-top: 10px;
    color: white;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
}
.btn-lieu-custom{
    margin-top: 10px;
    width: 30px;
    height: 30px;
    background-color: #FFFFFF;
    border: 1px solid #b9cdd9;
    border-radius: 25px;
    transition: 0.2s;
}

.btn-lieu-custom:hover{
    transform: scale(1.2);
    background-color: #657ED4 !important;
    border: gold;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    color: white;
}

.btn-lieu-custom a {
    text-decoration: none;
    margin-top: 10px;
    color: white;
}


.closebtn{
    border: none;
    background-color: #f3f3f3;
    font-size: 1.2em;
}

/****************** FIN FENETRE MODAL ********************/
/*********************************/
/********* Formulaire de création de sortie *************/

label{
    margin-top: 15px;
    margin-bottom: 5px;
}

.title-form-custom{
    text-align: center;
    align-items: center;
}


/*********************************************************/
/**************** LOGIN ******************************/
.form-custom-login{
    margin-top: 100px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    padding: 20px 20px;
    justify-content: center;
    align-items: center;
}

/*****************ERREUR FORMULAIRE MODIF PROFIL******************/
.error-modif-mdp{
    color: indianred;
    margin: 10px 10px;
    font-size: 0.8em;
}

.utilisateur{

    margin-left: 50%;
}

.utilisateur img{

    border: solid black 1px;
    border-radius: 50% ;
    margin-left: 5%;

}
